<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aub.hopin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />

        <intent-filter>
            <action android:name="aub.hopin.SignIn" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />

        <intent-filter>
            <action android:name="aub.hopin.SignUp" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".SignUpConfirm"
            android:label="SignUpConfirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SwipeLeft" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ScheduleSettings"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactInfoSettings"
            android:label="@string/title_activity_contact_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CarInfoSettings"
            android:label="@string/title_activity_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileSettings"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DistanceUnitsSettings"
            android:label="@string/title_activity_distance_units"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationSettings"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationSettings"
            android:label="@string/title_activity_navigation_settigns"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapHistorySettings"
            android:label="@string/title_activity_map_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackSettings"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendFeedback"
            android:label="@string/title_activity_send_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportProblem"
            android:label="@string/title_activity_report_problem"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Map2Activity"
            android:label="Map2Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <intent-filter>
            <action android:name="aub.hopin.Map2Activity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

    </application>

</manifest>